@CHARSET "UTF-8";
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/
/** 添加chrome浏览器字体控制 **/
body{
    -webkit-text-size-adjust:none;
}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

img, input, select {
    vertical-align: middle;
}

/** 设置默认字体 **/
body,button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
input, select{vertical-align: middle;} /* 使得表单元素居中 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxOverlay{background:#000;}

/* icons 16x16 */
.icon_valid_16x16, .icon_error_16x16, icon_info_16x16 {
    background: url(http://003.tw/img/icons_bg.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
}
.icon_valid_16x16 {background-position: 0 -250px;}
.icon_error_16x16 {background-position: 0 0;}
.icon_info_16x16 {background-position: 0 -150px;}

/* global ajax loader */
/*
#loader {line-height: 20px; height: 20px;}
*/
#loader img {float: left;}
#loader span {margin-left: 10px; line-height: 20px;}

.clear{clear: both;}
.clearfix{zoom:1;}
.clearfix:after{content:" ";font-size:0;display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.hidden{display: none;}
.nospace{font-size: 0; height: 0; line-height: 0;}

a:link, a:hover, a:visited {color: #005AA0;}

.red{color:red;}
.blue{color:blue;}
.green{color:green;}
.grey{color:gray;}

.header{ margin: auto; width: 986px; position: relative; z-index: 9999;}
.header .cdlist{border: 1px #EEEEEE solid; background: #FBFBFB; height: 23px; line-height: 23px; position: relative; z-index: 1001;}
.header .cdlist .toptray{width: 680px; float: left; height: 23px; }
.header .cdlist .toptray_l{float: left; margin-left: 5px;}
.header .cdlist .toptray_r{float: right;}
.header .cdlist .customerService{float: right; width: 300px; background: url(http://003.tw/img/customer.gif) no-repeat; _display: inline;}
.header .cdlist ul li.hotline{float:right; visibility: hidden; letter-spacing: 0.5px; font-weight: bold; color: #df0000; padding-left:18px; }
.header .cdlist ul li.online_service{margin-right: 0; float:right; font-weight: bold; width: 95px; }
.header .cdlist ul li.online_service a{display:inline-block; width: 95px; height: 23px; color: #4198f1;}
.header .cdlist ul li.online_service a:hover{text-decoration: none;}

.header .cdlist ul li{float: left; margin-right: 10px;}
.header .cdlist ul li a{color: #005AA0;}
.header .cdlist ul li.mylottery{border: 1px #FFD098 solid; height: 18px; margin-top: 2px; line-height: 18px; padding: 0 4px; position: relative;}
.header .cdlist ul li.mylottery a{background: url(http://003.tw/img/tri.gif) 50px 6px no-repeat; padding-right: 12px; }
.header .cdlist ul li.mylottery a:hover{text-decoration: none;}
.header .cdlist ul li.mylottery .lot_list{background: url(http://003.tw/img/mylottery_list_bg.gif) no-repeat #FFFFFF; border:1px #FFD098 solid; border-top:none; width: 104px;  position: absolute; right: -1px; top: 16px;}
.header .cdlist ul li.mylottery .lot_list ul{margin: 7px; float: none;}
.header .cdlist ul li.mylottery .lot_list li{margin: 0; height: 20px; line-height: 20px; float: none;}
.header .cdlist ul li.mylottery .lot_list li .red{color: #FF0000;}
.header .cdlist ul li.mylottery .lot_list li a{color: #666666; background: none; padding: 0;}
.header .cdlist ul li.mylottery .lot_list li a:hover{text-decoration: underline;}

.header .header_logo{overflow: hidden;}
.header .header_logo .logo{float:left; width: 150px; padding: 10px;}
.header .header_logo .logo a{display: block;}

.header_logor{float: right; width: 816px;}
.header_logor_ad{margin-left: 15px; height: 49px; position: relative;}
.header_logor_ad #baidu_clb_slot_159313{position: absolute; right: 365px; bottom: -13px;}
.header_logor_ad_spec #baidu_clb_slot_159313{right: 325px; bottom: 0;}

.header .header_nav{ width: 100%; margin-top: 0; width: 986px; background: url(http://003.tw/img/header_bg2.gif) 0 -38px no-repeat;height: 40px;}
.header .header_nav .lotterys{float:left; position: relative;}
.header .header_nav .lotterys .btn{ width: 196px; height: 36px; text-align: center; line-height: 36px; font-size: 14px; font-weight: bold; color: #7F2D00; display: block; cursor: pointer;}
.header .header_nav .lotterys .btnOn{background: url(http://003.tw/img/header_bg2.gif) -17px 0 no-repeat;}
.header .header_nav .lotterys .btn .num{color: #95532F; font-size: 12px;}
.header .header_nav .lotterys .lotterysList{width: 194px; border:1px #C40E09 solid; border-top:none; background:#FFF6EE; position: absolute; top: 36px; left: 0px; z-index: 999}

.header_logo .logo_nav{float: right; width: 360px; height: 26px; background: url(http://003.tw/img/header_bg2.gif) -387px -9px no-repeat; line-height: 30px; overflow: hidden;}
.header_logo .logo_nav_content{margin-left: 60px;}
.header_logo .logo_nav li{color: #666; float: left; _display: inline; margin-right: 1px;}
.header .header_logo .logo_nav li a{color:#666}
.header .header_logo .logo_nav li .logo_nav_point{font:bold 14px/1.2 '宋体'; vertical-align: middle;}

.lotterys_list{font-family:'微软雅黑','宋体';width: 194px; border:1px #C40E09 solid; border-top:none; background:#FFF6EE; position: absolute; top: 36px; left: 0; z-index: 999;}
.lotterys_list ul{padding:4px 0 0px 4px;zoom:1;}
.lotterys_list ul.lottery_sports{padding:0 0 0 4px;}
.lotterys_list ul.lottery_football{border-top:1px dotted #F1D4D7;}
.lotterys_list li{float:left;display:inline-block;height:22px;line-height:22px;}
.lotterys_list ul li.s1 a,.lotterys_list ul li.s2 a,.lotterys_list ul li.s3 a,.lotterys_list ul li.s4 a,.lotterys_list ul li.s5 a{color:#960000;}
.lotterys_list ul li a.red{color:#F00;}
.lotterys_list li.s1{width:63px;}
.lotterys_list li.s2{width:100px;}
.lotterys_list li.s3{width:36px;}
.lotterys_list li.s4{width:53px;}
.lotterys_list li.s3 span{color: #7F2D00;}
.lotterys_list li.s5{width:75px;}
.lotterys_list li.relative{position: relative;}
.lotterys_list li.relative a.label{position: absolute; right: 2px; top: 4px;}
.lotterys_list li.gray a:link,.lotterys_list li.gray a:visited{color:gray;}
.lotterys_list .lot_morebox li.gray a:link,.lotterys_list .lot_morebox li.gray a:visited{color:gray;}

.lotterys_list .lottery_category{position:relative;height:20px;line-height:20px;border-bottom:1px solid #F1D4D7;padding:8px 0 2px 8px;color:#999;font-weight:bold;background:#ffe9a4;}
.lotterys_list .lottery_category a{float:right;margin-right:4px;font-weight:normal;}
.lotterys_list .lot_category_0,.lotterys_list .lot_category_1,.lotterys_list .lot_category_2,.lotterys_list .lot_category_3{background:url(http://003.tw/images_type_icon.gif) no-repeat;padding-left:22px;height:16px;line-height:16px;display:inline-block;float:left;color:#443e2c;font-size:14px;}
.lotterys_list .lot_category_1{background-position:0 -1px;}
.lotterys_list .lot_category_2{background-position:0 -26px;}
.lotterys_list .lot_category_3{background-position:1px -58px;}
.lotterys_list .lot_category_0{background-position:0 -89px;}
.lotterys_list ul li a.label{display:inline-block;width:27px;color:#FFF;background:url(http://003.tw/img/label_orange.gif) 0 0 no-repeat;text-align:center;text-decoration: none;height:14px;line-height:14px;}
.lotterys_list ul li a.label_new,.lotterys_list ul li a.label_hot{background:url(http://003.tw/img/label_small.gif) no-repeat;width:23px;height:10px;display:inline-block;font-size:0.1em;line-height:10px;vertical-align:top;}
.lotterys_list ul li a.label_hot{background-position:0 -10px;}
.lotterys_list ul li a.label_new{background-position:0 -20px;}
.lotterys_list ul li a.small_label{background:url(http://003.tw/img/small_label.gif) no-repeat 1px 2px;padding-left:5px;text-align:center;text-decoration:none;width:14px;color:#FFF;display:inline-block;height:18px;line-height:18px;}
.lotterys_list span.lot_more{float: right; font: bolder 12px Arial; color: #b9632e; margin-right: 20px;}
.lotterys_list .lot_morebox{cursor:auto; padding: 15px; position: absolute; width: 298px; height: 143px; border:2px solid #f79100; left:193px; top:-145px; background: #fff; _top: -146px;}
.lotterys_list .lot_morebox a{float: left;}
.lotterys_list .lot_morebox ul{overflow: hidden; width: 100%;}
.lotterys_list .lot_morebox .underline{height: 1px ; background: #eacccc; width:100%; margin: 5px 0; font-size:0; line-height: 0px; overflow: hidden;}
.lotterys_list .lot_morebox li.s01{width:65px; font-size: 12px; font-weight: normal; color: #000;}
.lotterys_list .lot_morebox li.s02 a{float:none; font-size: 12px; font-weight: normal; color: #960000; width: auto; margin-right: 12px;}
.lotterys_list .lot_morebox li.s02{float: left; width: 230px;}
.lotterys_list .lot_morebox li.s03{float: none; color: #960000;}
.lotterys_list .lot_morebox li.s03 a{margin-right:0;}
.lotterys_list .lot_morebox li.hgauto{height: auto;}
.lotterys_list .lot_morebox li.hgauto ul{margin: 0; padding: 0;}
.lotterys_list .lottery_category .forhiddenbox{font-size: 0; height: 30px; width: 5px; position: absolute; left: -5px; background: #fff; bottom: 0;}
.lotterys_list .lotCategoryMore{border-top:2px solid #FFE9A4; cursor: pointer;}
.lotterys_list .lot_more_border{border:2px solid #f79100; margin-bottom:-2px; margin-left: -1px; background:#fff; line-height: 22px;}

.header .header_nav .nav{float:left; margin-left: 5px; display: inline;}
.header .header_nav .nav li{float: left; height: 36px; line-height: 36px; text-align:center; _display: inline; position:relative; background: url(http://003.tw/img/header_bg2.gif) right 4px no-repeat; word-wrap: none;}
.header .header_nav .nav li .nav_new{background:url(http://003.tw/img/nav_new.gif) no-repeat;top:-12px;display:block;width:31px;height:18px;position:absolute;right:0;}
.header .header_nav .nav li .nav_new_1{background:url(http://003.tw/img/nav_new_1.gif) no-repeat;display:block;width:28px;height:11px;position:absolute;right:0; top:-3px; overflow: hidden;}
.header .header_nav .nav li a{float: left; font-size: 14px; color: #FFFFFF; display: block; font-weight: bold; text-decoration: none; height: 30px; line-height: 24px; margin-top: 6px;}
.header .header_nav .nav li a:hover,.header .header_nav .nav li.on a{ background: #FFFFFF; font-weight:bold; color: #AF0000; height: 33px;}
.header .header_nav .nav li.last{background: none;}
.header .header_nav .nav li.navw1{width: 50px;}
.header .header_nav .nav li.navw1 a{width: 50px;}
.header .header_nav .nav li.navw2{width: 80px; }
.header .header_nav .nav li.navw2 a{width: 80px; }

.header .header_nav li.dropdown_nav{position: relative; width: 90px;}
.header .header_nav .nav li.on a.dropdown_text{ width: 89px; background: #FFFFFF url(http://003.tw/img/index/navbg2.gif) left top no-repeat; font-weight:bold; color: #AF0000;}
.header .header_nav li.dropdown_nav a.dropdown_text{width: 89px; background: url(http://003.tw/img/header_bg2.gif) no-repeat 72px 5px; color: #fff;}
.header .header_nav li.dropdown_nav .dropdown_ul{position: absolute; top: 33px;  background: #FFF url(http://003.tw/img/index/navbg2.gif) left bottom no-repeat; width: 89px; z-index: 9999; left: 0;}
.header .header_nav li.dropdown_nav .dropdown_ul li{line-height: 22px; height: 22px; background: none; margin-bottom: 2px;}
.header .header_nav li.dropdown_nav .dropdown_ul li a{color: #333333; height: 22px; background: none; padding: 0 0 0 18px; font-weight: normal; margin-top: 0;}
.header .header_nav li.dropdown_nav .dropdown_ul li a:hover{height: 22px; margin: 0; color: #AF0000; font-weight: normal;}
.header .header_nav li.dropdown_nav .dropdown_ul li a.football{background: url(http://003.tw/img/lower_li_bg.gif) 2px 6px no-repeat;}
.header .header_nav li.dropdown_nav .dropdown_ul li a.baskeball{background: url(http://003.tw/img/lower_li_bg.gif) 2px -20px no-repeat;}
.header .header_nav li.dropdown_nav .dropdown_ul li a.live{background: url(http://003.tw/img/lower_li_bg.gif) 2px -47px no-repeat;}
.header .header_nav li.dropdown_nav .dropdown_ul li a.lueague{background: url(http://003.tw/img/lower_li_bg.gif) 2px -74px no-repeat;}
/*foot*/
.foot_box{width: 986px; margin: 0 auto;}
.foot_box .link_box{border: 1px #CFCFCF solid; background: #F4F4F4; padding: 5px; margin-top: 10px;}
.foot_box .link_box .link_main{border: 1px #DEDEDE solid; background: #FFFFFF; padding: 5px 10px; line-height: 22px; color: #888888;}
.foot_box .link_box .link_main a{color: #888888; margin-right: 12px;}
.foot_box .link_box .link_main a.red{color: #FF0000;}
.foot_box .link_box .link_main a.red:hover{text-decoration: underline;}
.foot_box .link_box .link_main a:hover{color: #FF0000; text-decoration: none;}
.foot_box .link_box .link_main .weibo{margin-left: 75px;}
.foot_box .link_box .link_main .weibo a{margin-right: 2px;}

.foot_box .about_box{border-top: 1px #CFCFCF solid; margin-top: 10px;}
.foot_box .about_box .about_left{float: left; padding: 8px 0;}
.foot_box .about_box .about_left a{margin-right: 3px;}
.foot_box .about_box .about_left .about_link{margin-bottom: 10px; line-height: 22px; color: #006FC5;}
.foot_box .about_box .about_left .about_link a{margin:0 5px; color: #006FC5;}
.foot_box .about_box .about_left .about_link a:hover{color: #FF0000; text-decoration: none;}
.foot_box .about_box .about_right{float: left; padding: 15px 0 0 25px;}
.foot_box .about_box .about_right p{height: 24px; color: #888888;}
.foot_box .about_box .about_right a{color: #888888;}
.foot_box .about_box .about_right a:hover{color: #FF0000; text-decoration: none;}

/*合作样式*/
.banner_8888{position: absolute; top: 26px; left: 5px; background: url(http://003.tw/img/sogou.gif) no-repeat; width:210px; height: 30px; }
.banner_5000{position: absolute; top: 21px; left: 5px; background: url(http://003.tw/img/banner/cooperator/baidu.jpg) no-repeat; width:210px; height: 35px; }
.banner_4013{position: absolute; top: 21px; left: 5px; background: url(http://003.tw/img/banner/cooperator/qianrengou.jpg) no-repeat; width:210px; height: 35px; }
.banner_4015{position: absolute; top: 21px; left: 5px; background: url(http://003.tw/img/banner/cooperator/ccbd.jpg) no-repeat; width:210px; height: 35px; }

/*tooltip*/
.tooltip_box{background:#FFFFFF; border:1px #999999 solid; display:none; line-height:20px;padding:5px; position:absolute;}

/*浮动登录层的样式*/
.fl_box{border: 1px #7B0C26 solid; width: 600px; background: #FFFFFF; overflow: hidden;height:330px;}
.fl_box .fl_top{background: url(http://003.tw/img/fl_title_bg.gif) repeat-x; height: 36px;}
.fl_top .fl_title{float: left; background: url(http://003.tw/img/fl_icon.gif) 0 -215px no-repeat; line-height: 32px; font-size: 14px; font-weight: bold; color: #FFFFFF; margin-left:10px; padding-left: 25px;}
.fl_top .fl_close{float: right; background: url(http://003.tw/img/fl_icon.gif) 0 -53px no-repeat; width:52px; height: 19px; margin-right: 10px; cursor: pointer; }
.fl_main .fl_left{float: left; width: 285px;}
.fl_left .reg_box{margin-top:25px; border-right: 1px #E6E6E6 solid;}
.reg_box h1{font-size: 14px; font-weight: normal; margin-left: 40px; color: #E60012; font-weight: bold;}
.reg_box ul{ margin-left: 25px;}
.reg_box li.r1,.reg_box li.r2,.reg_box li.r3{ height: 40px; line-height: 40px; font-size: 14px; margin-top: 15px;}
.reg_box li.r1{background: url(http://003.tw/img/fl_icon.gif) no-repeat 0 -160px; padding-left: 60px;}
.reg_box li.r2{background: url(http://003.tw/img/fl_icon.gif) no-repeat 10px -97px; padding-left: 60px;}
.reg_box li.r3{padding-left: 30px; margin-top: 15px; margin-bottom: 10px;}
.fl_left a.reg_b{background: url(http://003.tw/img/fl_icon.gif) no-repeat -160px 0; width: 151px; height: 40px; display: block; margin-bottom: 20px;}
.fl_left a.reg_b:hover{text-decoration: none;}

/*全局警告窗口*/
#alert_window_box.fl_box{width: 415px;}
.fl_box h4{padding: 20px 40px; font-size: 16px;}
.fl_box .button_list{text-align: center; padding: 5px;}

.fl_main .fl_right{float: left;}
.fl_right .login_box{margin-top: 18px; margin-left: 15px;}
.login_box h1{background: url(http://003.tw/img/fl_icon.gif) -67px -47px no-repeat; height: 32px; line-height: 32px; font-size: 14px; color: #E60012; padding-left: 40px;}
.login_box table{ margin: 25px 25px 10px 25px;}
.login_box tr{height: 40px;}
.login_box td.t{text-align: right; font-weight: bold;}
.login_box .text{ width: 161px; height: 26px; border: 1px #BCBCBC solid; color:#333; font-size: 14px; font-weight: bold;}
.login_box .imgcode{ width: 100px; margin-right: 4px;}
.login_box .submit{background: url(http://003.tw/img/fl_icon.gif) 0 0 no-repeat; width: 151px; height: 40px; border: 0px; cursor:pointer;}
#float_login_tpl .login_box .alipay_quick{background:url(http://003.tw/img/alipay_quick_small.png) no-repeat;width:115px; height:25px;display:inline;margin-left:36px;float:left;}
#float_login_tpl .login_box .baidu_login{float: left; display: inline; margin-left: 8px; text-decoration:underline;}
.float_other_login{text-align: left; line-height: 24px; margin-top: 10px; position: relative; width: 218px; margin-left: 20px;}
.float_other_login .float_other_box{line-height: 24px; width: 92px; position: absolute; right: 5px; top: 0; padding: 1px; text-align: center;}
.float_other_login .float_other_box_on{border: 1px #B8B8B8 solid; background: #FFFFFF; padding: 0;}
.float_other_login .float_other_box .float_other_text{background: url(http://003.tw/img/tri.gif) 78px 10px no-repeat; padding-right: 12px; text-decoration: none; display: block;}
.float_other_login .float_other_box .float_other_text_on{background: url(http://003.tw/img/tri.gif) 78px -77px no-repeat;}
.float_other_login .float_other_box .float_other_list li{text-align: left; line-height: 22px; height: 22px;}
.float_other_login .float_other_box .float_other_list li a{text-decoration: none; display: block;}
.float_other_login .float_other_box .float_other_list li a:hover{background-color: #DFDFDF; color: #FE6B1D;}
.float_other_login .icon{background: url(http://003.tw/img/login_icons.gif) no-repeat; padding-left: 28px; display: block;}
.float_other_login .baidu{background-position: 0 -111px; margin-left: 10px; padding-left: 20px; width: 75px;}
.float_other_login .baidu:hover{color: #FE6B1D; text-decoration: none;}
.float_other_login .sinaweibo{background-position: 5px -44px;}
.float_other_login .alipay{background-position: 5px 3px; }
.float_other_login .qqlogin {background-position: 5px -19px;}
.float_other_login .goyoo {background-position: 5px -135px;}
.float_other_login .baidulogin{background-position: 5px -111px; }


/*全局的提示信息窗口*/
.tip_window_border{width: 381px; border: 5px solid #ffffff; padding: 3px; background-color: #ff9600;}
.tip_window_border .content_box{background-color: #ffffff;}
.tip_window_border .content_box .close{float: right; height: 20px; width: 18px; background: #ffffff url(http://003.tw/img/tip_close.png) no-repeat top right; margin-right: 5px; display: inline; cursor: pointer;}
.tip_window_border .content_box h4{font-size: 14px; color: red; font-weight: normal; margin: 0 28px;}
.tip_window_border .content_box .content{font-size: 14px; color: #ff00ff; font-weight: normal; margin: 0 28px; padding: 10px 0 35px 0;}

/*新的错误和成功提示浮层样式*/
.alert_window_box{width: 392px;}
.success_box{width: 327px;}
.alert_border{padding: 5px; background:rgba(192,181,155,.6); background:#c0b59b\9; filter:alpha(opacity=60); zoom:1;}
.alert_box{border: 1px #F26C4F solid; background: #FFFFFF; position: relative; overflow: hidden; zoom:1;}
.alert_box .alert_top{background: url(http://003.tw/img/tishi_title_bg.gif) 0 0 repeat-x; height: 31px; border: 1px #FFCD5E solid;}
.alert_top .alert_title{float: left; line-height: 32px; font-size: 14px; font-weight: bold; color: #FFFFFF; margin-left:10px;}
.alert_top .alert_close{float: right; background: url(http://003.tw/img/tishi_bg.gif) 0 -38px no-repeat; width:21px; height: 20px; margin-right: 10px; margin-top:6px; cursor: pointer; display: inline;}
.success_close{float: right; background: url(http://003.tw/img/tishi_bg.gif) -28px -38px no-repeat; width:11px; height: 11px; margin-right: 7px; margin-top:6px; cursor: pointer; display: inline;}
.alert_box .alert_main{background: #FFFFFF; padding: 20px 20px 15px;}
.alert_main .icon_error{background: url(http://003.tw/img/tishi_bg.gif) 20px -100px no-repeat; height: 55px; width: 90px; float: left; }
.alert_main .icon_success{background: url(http://003.tw/img/tishi_bg.gif) -80px -100px no-repeat; height: 55px; width: 90px; float: left;}
.alert_main .icon_tip{background: url(http://003.tw/img/tishi_bg.gif) -185px -100px no-repeat; height: 55px; width: 90px; float: left;}
.alert_main .alert_content{float: left; margin-top: 15px; padding-bottom: 20px; width: 250px;}
.alert_main .success_content{width: 180px;}
.alert_main .alert_content h4{font-size: 14px;}
.alert_main .alert_content .detail{padding-top: 6px;}
.alert_main .alert_content .f14{font-size: 14px;}
.alert_main .alert_sbt{text-align: center;}
.alert_main .alert_sbt .sub_btn{background: url(http://003.tw/img/tishi_bg.gif) -141px -38px; width: 77px; height: 28px; font-weight: bold; border: none; font-size: 14px; cursor: pointer;}
.blank_btn{width:77px;height:28px;border:none;cursor:pointer;background-color:#FFF;}

/*全局的分页样式*/
.page input {border: 1px solid #ccc;}
.page .page_num, .page .page_goto {height: 20px; line-height: 20px;}
.page .page_goto {padding: 0 5px;}

/*彩种投注频道页面样式*/
.gcmain{width: 986px; margin: auto;}
.gcmain .gcleft{float:left; width: 704px;}

.gcleft .tztop{border-top: 1px #FFD694 solid; border-left:1px #DBDBDB solid; border-right: 1px #DBDBDB solid; background: url(http://003.tw/images/tztop_bg.gif) repeat-x;margin-top:10px;}
.tztop .tzlogo{float: left;}
.tztop .tzxx{float: left; width: 350px; line-height: 22px;}
.tztop .tzxx h2{color: #FF0000; font-weight: bold; font-size: 14px; line-height: 30px;}
.tztop .tzxx h2 span{color:#FD980A;padding-left:12px;}
.tztop .term{float: right; font-size: 14px; font-weight: bold;  margin-right: 10px; margin-bottom:20px; display: inline;}
.tztop .term span{color: #FF0000;margin: 0 5px;}
.tztop .icon_links{text-align:right;padding-right:10px;}
.tztop .icon_links a{display:inline-block;padding-left:16px;text-align:left;margin-left:6px;}
.tztop .icon_links .link_rule{background:url(http://003.tw/img/wenhao.gif) 0 2px no-repeat;width:48px;}
.tztop .icon_links .link_trend{background:url(http://003.tw/img/zst.gif) no-repeat;width:36px;padding-left:18px;}
.gcleft .tznav{border-bottom: 3px #F79E09 solid; border-left:1px #DBDBDB solid; border-right: 1px #DBDBDB solid;}
.tznav ul{margin-left: 30px;}
.tznav li{color: #333333; float: left; background: url(http://003.tw/images/lottery_bg.gif) -83px 0 no-repeat; width: 79px; height: 30px; line-height: 30px; text-align: center; margin-right: 5px; font-size: 14px;}
.tznav li.on{background: url(http://003.tw/images/lottery_bg.gif) 0 0 no-repeat; font-weight: bold;}
.tznav li a:link,.tznav li a:visited{color: #333333; display: block;}
.tznav li a:hover{text-decoration: none;}
.gcleft .jztime{float: right; margin-right: 5px; display: inline; line-height: 30px;}
.gcleft .jztime span{color: #FF0000;}

/* 每个彩种的合买方案列表 */
.syndicate_box{margin-top: 10px; border: 1px #CFCFCF solid;}
.syndicate_box .title{background: url(http://003.tw/images/js_tit_bg.gif); border-bottom: 1px #CFCFCF solid; height: 27px; padding-left: 15px; line-height: 27px;}
.syndicate_box .title h3{color: #FF0000;}

.syndicate_table{width: 100%; text-align: center; border: 1px #FFFFFF solid;}
.syndicate_table td{height:30px;}
.syndicate_table .title{background: url(http://003.tw/images/dc_title_bg.gif) repeat-x; color: #FFFFFF;}
.syndicate_table .title td{padding: 0 10px;}
.syndicate_table .title .left{float: left;}
.syndicate_table .title .search{float: right;}
.syndicate_table .title .search .text{border: 1px #AFAFAF solid; height: 20px; width: 90px; color: #999999;}
/*
.syndicate_table .title .search .btn{background: url(/images/hm_search_bg.gif) no-repeat; height: 18px; width: 61px; border: none; cursor: pointer; margin-left: 2px;}
*/

.syndicate_table .tit{background: #FFF4DA;}
.syndicate_table .bgcolor{background: #EEEEEE;}
.syndicate_table .text{width: 39px; height: 18px; border: 1px #94A3BD solid;}
.syndicate_table a.blue{color: #0000FF;}
.syndicate_table td.process{line-height: 15px; text-align: left; padding-left: 10px;}
.syndicate_table td.process span{display: block; font-size: 10px;}
.syndicate_table td.process span.reserved{display: inline; font-size: 12px; margin: 0;}
.syndicate_table td.process .tag{border: 1px solid #B3B3B3; font-size: 0; height: 3px; overflow: hidden; width: 60px;}
.syndicate_table td.process .tag i{background:url(http://003.tw/images/syndicate_progress_bg.gif) repeat-x; display: block; height: 3px;}
.syndicate_table .buy_btn{text-decoration: none; margin: 5px 20px 5px 0; display: block; width: 114px; height: 27px;}

.syndicate_table td.no_hemai{color: #0075A9; padding: 30px 0;}
.syndicate_table td .hemai_btn{background: url(http://003.tw/images/lottery_bg.gif) -286px -200px no-repeat; width: 128px; height: 40px; border: 0; cursor: pointer; margin-top: 10px;}

.syndicate_table td .red{color: #FF0000;}
.syndicate_table td .page_list{margin:0 30px;  float: left; color: #0075A9; padding-top: 4px;}
.syndicate_table td  select{border: 1px #ABADB3 solid; width: 60px; height: 17px; margin: 0 5px;}
.syndicate_table td .page{ float: right; margin-right: 10px; padding-top: 2px;}
.syndicate_table td .page a,.syndicate_table td .page strong{border: 1px #CECECE solid; height: 20px; line-height: 20px; text-align: center; color:#0075A9; float:left; padding: 0 6px; margin-right: 2px;}
.syndicate_table td .page strong{background: #0096CE; color: #FFFFFF;}
.syndicate_table td .text{width: 25px; height: 16px; border: 1px #CECECE solid; margin: 0 3px 0 0;}

.syndicate_box .syndicate_more{text-align: right; padding: 10px 20px 10px 0;}

#toptray_login span.span_login_rmb{ font-size: 12px; font-weight: bold; color:#F00; margin-left:6px;}
#toptray_login span.span_login_rmb_2{ font-size: 12px; font-weight: bold; color:#F00;height:18px;line-height: 18px;}
.dashed_bottom{border-bottom: 1px dashed red;} 
#toptray_login .header_show_money{ height:23px;}
#toptray_login .header_show_money a,#toptray_login .header_show_money span{ float: left;}
#toptray_login .header_show_money img{ float: left; margin-top: 5px;cursor: pointer;}
#wallet_container{position:relative; float: left;}
#wallet_detail{border:2px solid #E0E0E0;background-color:#FEFDC2;padding:8px;z-index:10;position:absolute;white-space:nowrap;line-height:20px;top:22px;left:0; width: 160px;}
#wallet_detail p {display: block; width: 100%;}
#wallet_detail a.account_detail{float:right;}
/*feedback link*/
.feedback_link{position:fixed;right:4px;width:27px;background:url(http://003.tw/images/feedback_bg.jpg) no-repeat top right;}
.feedback_link_on{background:url(http://003.tw/images/feedback_bg.jpg) no-repeat 0 top ;}
.feedback_link a , .feedback_link_on a{display:inline-block;width:27px;height:95px;}
#search_result_phase{width:60px;}
.search input {margin: 0;padding: 0;height: 25px;line-height: 25px;border: 1px solid #CCC;}.search{float:right;height:100%;}.search input {margin: 0;padding: 0;height: 25px;line-height: 25px;border: 1px solid #CCC;}.search input.btn{width:40px;}